html { 
    width: 100%;
    background: #BFBFBF;
}

body { 
    padding: 0;
    margin: 0;

}

.container {
    position: relative;
    display: block;
    width: 1024px;
    margin: 0px auto;
    padding: 0px;
    background: #fff;
    -moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

}

.clear {
    clear:both;
}



