html { 
    height: 100% ;
}
body { 
    height: 100%; 
    margin: 0; 
    padding: 0 ;
}
.map {
    height: 100%;
    width: 100%;
}

    .map .search {
        width: 100%;
        height: 100px;
    }
    
    .map #map_canvas { 
        height: 100%;
        width: 100%;
    }
    
    .map .leftcol { 
        float: left;
        height: 100%;
        width: 75%;
    }
    
    .map .rightcol { 
        float: left;
        height: 100%;
        width: 25%;
    }